.container{
    display: grid;
}
#cell{
    background-color: white;
    height:16px;
    width:16px;
    border-width: thin;
    border: solid;
    border-color: #444;
    float: left;
    display: block;
}